@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.analytics-results {
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 1;
   transform: translate3d(-50%, -50%, 0);

   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   font-weight: 500;
   color: #000;
}

.countdown {
   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   font-weight: 500;
   color: #000;
}